In [233]:
import pandas as pd

In [234]:
SALARY_FIELD = 'Salary'

In [235]:
QUESTION_FIELD = 'MajorUndergrad'

In [236]:
SALARY_MINIMUM = 10000

In [237]:
df = pd.read_csv('./developer_survey_2017/survey_results_public.csv')

In [238]:
df.dropna(subset=[SALARY_FIELD, QUESTION_FIELD], how='any', inplace=True)

In [239]:
clickykeys = df[[SALARY_FIELD, QUESTION_FIELD]]

In [240]:
clickykeys = clickykeys[clickykeys[SALARY_FIELD] >= SALARY_MINIMUM]

In [241]:
groupby = clickykeys.groupby(QUESTION_FIELD)

In [242]:
groupby.mean().sort_values(SALARY_FIELD, ascending=False)

                                                          Salary
MajorUndergrad
Psychology                                          85644.733138
Management information systems                      76538.822759
A social science                                    74811.018424
Fine arts or performing arts                        74032.996052
A business discipline                               73620.056849
Mathematics or statistics                           70969.245243
A non-computer-focused engineering discipline       70839.171961
A humanities discipline                             70006.308593
I never declared a major                            69812.762748
A natural science                                   69291.122640
Something else                                      66462.333304
Computer engineering or electrical/electronics ...  65347.297216
Computer science or software engineering            64424.070184
Information technology, networking, or system a...  58634.808934
A health science                                    53386.363006
Computer programming or Web development             49409.148232

In [243]:
groupby.std()

                                                          Salary
MajorUndergrad
A business discipline                               38468.431571
A health science                                    27381.227730
A humanities discipline                             35151.983922
A natural science                                   35344.509805
A non-computer-focused engineering discipline       39912.166979
A social science                                    33740.263409
Computer engineering or electrical/electronics ...  39464.525631
Computer programming or Web development             27430.757009
Computer science or software engineering            37048.614924
Fine arts or performing arts                        34918.336254
I never declared a major                            39449.161678
Information technology, networking, or system a...  36074.939322
Management information systems                      37751.044096
Mathematics or statistics                           38317.345535
Psychology                                          39376.665947
Something else                                      37981.818106

In [244]:
groupby.median()

                                                          Salary
MajorUndergrad
A business discipline                               68750.000000
A health science                                    51893.939394
A humanities discipline                             61402.737048
A natural science                                   60948.191593
A non-computer-focused engineering discipline       64015.151515
A social science                                    71600.000000
Computer engineering or electrical/electronics ...  59139.784946
Computer programming or Web development             44864.253394
Computer science or software engineering            56250.000000
Fine arts or performing arts                        70000.000000
I never declared a major                            60000.000000
Information technology, networking, or system a...  50000.000000
Management information systems                      72199.095023
Mathematics or statistics                           62500.000000
Psychology                                          86500.000000
Something else                                      58000.000000

In [245]:
groupby.min()

                                                          Salary
MajorUndergrad
A business discipline                               12903.225806
A health science                                    13067.097343
A humanities discipline                             11549.169903
A natural science                                   10000.000000
A non-computer-focused engineering discipline       10370.370370
A social science                                    11033.581961
Computer engineering or electrical/electronics ...  10000.000000
Computer programming or Web development             10000.000000
Computer science or software engineering            10000.000000
Fine arts or performing arts                        17204.301075
I never declared a major                            10045.454545
Information technology, networking, or system a...  10000.000000
Management information systems                      10752.688172
Mathematics or statistics                           10752.688172
Psychology                                          17741.935484
Something else                                      10215.053763

In [246]:
groupby.max()

                                                           Salary
MajorUndergrad
A business discipline                               185000.000000
A health science                                    107526.881720
A humanities discipline                             180000.000000
A natural science                                   180000.000000
A non-computer-focused engineering discipline       190000.000000
A social science                                    165000.000000
Computer engineering or electrical/electronics ...  192000.000000
Computer programming or Web development             175000.000000
Computer science or software engineering            197000.000000
Fine arts or performing arts                        181818.181818
I never declared a major                            187200.000000
Information technology, networking, or system a...  180000.000000
Management information systems                      170000.000000
Mathematics or statistics                           193750.000000
Psychology                                          175000.000000
Something else                                      175000.000000